.list {
  background-color: var(--background-second);
  padding: 12px 24px;
  height: 100%;
  width: 100%;

  border-radius: 12px;

  & > div {
    border-bottom: 2px var(--background-primary) solid;

    &:last-child {
      border: none;
    }
  }
}