@use 'scss-reset/reset';

@import "../styles/variables";

body {
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.page-dark {
  background-color: var(--background-second);
}