.header {
  width: 100%;

  margin-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

    padding: 20px;
  }

  &__logo {

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  &__nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}