.logo {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;

  &__img {
    color: var(--color-second);
  }

  &__text {
    color: var(--color-second);
    font-size: 24px;
    font-weight: 800;

    & > span {
      color: var(--color-primary);
    }
  }
}

