.index {
  &__header {
    padding-top: 40px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .subtext {
      color: var(--color-second);
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__hr {
    width: 50px;
    height: 2px;

    border-radius: 50%;

    background-color: var(--color-second);
  }

  &__nav {
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__footer_trailer {
    margin-top: 20px;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

    }

    &_like {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        & > p {
          color: var(--color-second-opacity);
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

}

.new_movie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
}

.more_movie {
  margin: 0 auto;
}

.block {
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.popular__person {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  & > div {
    max-width: 33.3%;
  }
}

.popular__blog {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  &_big {
    width: 100%;
  }

  &_small {
    height: 100%;

    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: 12px;

    & > div {
      height: 190px;
    }
  }
}

.box_office {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}